.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 5em auto auto;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	appearance: none;
	border: none;
	height: 5px;
}

.pageTitle {
	padding-left: 30%;
}