a {
	text-decoration: none;
	color: white;
	font-size: calc(10px + 1vmin);
}

.Menu {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 10%;
	height: 100vh;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	background-color: #282c34;
	color: white;
	font-size: calc(10px + 2vmin);
}

.button {
	width: 80%;
	padding: 5%;
}

.button:hover .insidebutton {
	background-color: #ffffff;
	border-radius: calc(0.1em + 0.3vw);
	transition: 0.5s;
	color: #000000;
}

.insidebutton {
	background-color: inherit;
	border: medium none;
	font-size: large;
	cursor: pointer;
	color: white;
	padding: 5%;
}
