.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 90%;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #282c34;
	color: white;
}

.flexcol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flexcol * {
	margin: 10px;
}

.flexcol div {
	position: absolute;
	width: 30%;
	font-size: calc(10px + 2vmin);
}

.flexcol img {
	z-index: 1;
}

img:hover {
	opacity: 0.1;
}

.projects h1 {
	position: fixed;
	top: 7%;
	left: 40%;
}

.projects h2 {
	align-items: left;
	padding: 5%;
}
